.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black
}

.placeholder-profile-pic {
  background-color: cornflowerblue;
  border-radius: 100%;
  width: 50px;
  height: 50px
}

.button {
  border-width: 2px;
  border-radius: 5px;
  background-color: white;
  border-color: cornflowerblue;
  color: cornflowerblue;
  transition-duration: 0.4s;
}

.button:hover{
  background-color: cornflowerblue;
  color: white
}

