

.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black
}

.placeholder-profile-pic {
  background-color: cornflowerblue;
  border-radius: 100%;
  width: 50px;
  height: 50px
}

.button {
  border-width: 2px;
  border-radius: 5px;
  background-color: white;
  border-color: cornflowerblue;
  color: cornflowerblue;
  transition-duration: 0.4s;
}

.button:hover{
  background-color: cornflowerblue;
  color: white
}

.date-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: cornflowerblue;
  font-size: 30px;
}

.sidebar-container{
  background-color: #d9f7ff;
  border-radius: 5px;
  margin-left: 80px
}

.add-event-button{
  background-color: #b4bfc2;
  width: 20px;
  height: 20px;
  transition-duration: .4s;
  vertical-align:bottom;
}

.ampm-text {
  font-size: 7px;
  margin-top: 5px;
}

.event-time{
  font-size: 10px;
  color: #909599;
}

.add-event-button:hover{
  background-color:cornflowerblue
}