.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black
}

.edit {
  color: cornflowerblue;
}

.edit:hover {
  color: lightblue
}

.placeholder-profile-pic {
  background-color: cornflowerblue;
  border-radius: 100%;
  width: 50px;
  height: 50px
}


.share-cal-button {
  border-width: 2px;
  border-radius: 5px;
  background-color: white;
  border-color: cornflowerblue;
  color: cornflowerblue;
  transition-duration: 0.4s;

}

.share-cal-button:hover{
  background-color: cornflowerblue;
  color: white
}

